* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", "san-serif";
}
:root {
    --primary-color: #10375c;
}

/* Comon CSS */

.content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}
a {
    text-decoration: none;
}
.btn {
    display: inline-block;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #ffffff;
    padding: 15px 18px;
    background: #2e80ce;
    border-radius: 30px;
    min-width: 205px;
    text-align: center;
    border: 1px solid #2e80ce;
}
.cliptext {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 3);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* ===========Header Css============= */

.header-fixed {
    position: sticky;
    top: -15px;
    z-index: 1;
    padding-top: 30px;
    background: var(--primary-color);
    padding-bottom: 10px;
}

.header-fixed .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-fixed .body .list-nav {
    display: flex;
    align-items: center;
}
.header-fixed .body .list-nav .nav {
    padding: 5px 21px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;

    color: #c9d2da;
}
.header-fixed .body .list-nav .nav:hover {
    text-shadow: 1px 0 0 currentColor;
}

.header-fixed .body .list-nav .nav.active {
    display: flex;
    align-items: center;
    gap: 0 8px;
    text-shadow: 1px 0 0 currentColor;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #ffffff;
}
.header-fixed .body .list-nav .active::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #ffffff;
    border-radius: 50%;
}

.header-fixed .body .action {
    display: flex;
    align-items: center;
}
.header-fixed .body .action .link-action {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #c9d2da;
}
.header-fixed .body .action .btn-header {
    min-width: 104px;
    padding: 7px 21px;
    margin-left: 28px;
}
/* ===========Hero CSS=========== */

.hero {
    padding-top: 66px;
    background: var(--primary-color);
    height: calc(100vh - 74px);
}
.hero--body {
    display: flex;
}
.hero--body--right {
    width: 517px;
}
.hero--body--right__title {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #ffffff;
}
.hero--body--right__desc {
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #c9d2da;
}
.hero--body--right--info {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 0 38px;
}
.hero--body--right--info__contact {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;
    color: #ffffff;
}

.hero--body--left {
    display: flex;
    align-items: center;
    margin-left: 113px;
}

.hero--body--left__img1 {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}
.hero--body--left__img2 {
    width: 210px;
    height: 410px;
    object-fit: cover;
    border-radius: 0px 6px 6px 0px;
}
/* ==============Services CSS============= */

.services {
    margin-top: 170px;
}
.services__top {
    width: 468px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.services__top__title {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #10375c;
}
.services__top__desc {
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #575f66;
}
.services__body {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
}

.services__body__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}
.services__body__info {
    margin-left: 130px;
}
.services__body__info__item {
    display: flex;
    align-items: center;
    height: 128px;
}
.services__body__info__item--active {
    background: #ffffff;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}
.services__body__info__item__moreInfo {
    width: 351px;
}

.services__body__info__item__moreInfo__title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #10375c;
}
.services__body__info__item__moreInfo__desc {
    margin-top: 8px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}
.services__body__info__btn-md {
    margin-top: 55px;
}
/* =================Work CSS=================== */

.work {
    margin-top: 170px;
    background: #f7fbff;
}
.work__block {
    padding: 100px 0;
}
.work__top__title {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #10375c;
}
.work__top__desc {
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #575f66;
}
.work__list {
    display: flex;
    padding-top: 70px;
}
.work__list__block {
    width: 31.6%;
    padding: 42px;
    border: 16px solid #eaf6ff;
    border-radius: 4px;
}
.work__list__block + .work__list__block {
    margin-left: 30px;
}
.work__list__block--active {
    border: 16px solid #2e80ce;
}

.work__list__item__title {
    margin-top: 18px;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 1.38;
    color: #10375c;
}
.work__list__item__desc {
    margin-top: 28px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}
.work__list__item__cta {
    display: inline-block;
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}
.work__list__item__cta--active {
    color: #2e80ce;
    font-weight: 400;
}
.work__list__block:hover {
    cursor: pointer;
    transform: translateY(-16px);
}
/* ========Features CSS============ */

.features {
    padding: 85px 0;
    margin-top: 85px;
}
.features__blocks {
    display: flex;
}
.features__media {
    width: 48%;
}
.features__images {
    position: relative;
    padding-bottom: 121px;
}
.features__img:first-child {
    width: 512px;
    border-radius: 6px;
    object-fit: cover;
    height: 370px;
}
.features__img:last-child {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 332px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
}
.features__info {
    margin-left: 130px;
    width: 470px;
}
.features__info__title {
    margin-top: 82px;
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #10375c;
}
.features__info__desc {
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #575f66;
}
.features__info__btn {
    margin-top: 38px;
}
/* ================Doctors CSS=============== */
.doctors {
    margin-top: 85px;
}
.doctors__top {
    text-align: center;
}
.doctors__top__title {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #10375c;
}
.doctors__top__btn {
    margin-top: 53px;
}
.doctors__list {
    margin-top: 70px;
    display: flex;
    gap: 0 34px;
}
.doctors__list__item {
    flex: 1;
    border-radius: 6px;
}
.doctors__item__img {
    width: 100%;
    height: 290px;
    object-fit: cover;
    border-radius: 6px;
    background: #eaf6ff;
}
.doctors__item__name {
    margin-top: 12px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #10375c;
}
.doctors__item__desc {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #575f66;
}

.doctors__cta {
    display: flex;
    justify-content: center;
    margin-top: 38px;
    display: flex;
    gap: 0 18px;
}
.doctors__control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575f66;
    background-color: #fff;
    color: #575f66;
    outline: none;
    transition: 0.25s;
}
.doctors__control:hover {
    color: #fff;
    cursor: pointer;
    background: #2e80ce;
    border: 1px solid #2e80ce;
}
.doctors__control--rotate {
    rotate: 180deg;
}
/* ================App CSS========== */

.app {
    margin-top: 265px;
}
.app .app-block {
    position: relative;
    display: flex;
    background: #2e80ce;
    border-radius: 4px;
    height: 427px;
}
.app__media {
    position: absolute;
    bottom: -4px;
    left: 70px;
}
.app__info {
    position: absolute;
    right: 70px;
    top: 76px;
    width: 50.1%;
}
.app__info__title {
    font-weight: 600;
    font-size: 5rem;
    width: 489px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #ffffff;
}
.app__info__desc {
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #ffffff;
}

.app__info__platform {
    margin-top: 38px;
    display: flex;
    gap: 0 30px;
}
/* =============Blog CSS=========== */

.blog {
    margin-top: 170px;
}
.blog-block {
    display: flex;
}
.block__heading {
    width: 40.18%;
    padding: 68px 0;
}
.block__heading__title {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #10375c;
}
.block__heading__action {
    display: inline-block;
    margin-top: 28px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.56;
    text-decoration-line: underline;
    color: #10375c;
}
.blog__cta {
    margin-top: 28px;
    justify-content: flex-start;
}
.blog__info {
    width: 49%;
    display: flex;
    gap: 0 30px;
    margin-left: 130px;
}
.blog__info__item {
    width: 270px;
    border-radius: 12px;
    border: 1px solid #e8ebee;
    transition: 0.5s;
}
.blog__info__item:hover {
    box-shadow: 0px 18px 25px rgba(0, 0, 0, 0.05);
}
.blog__info__item:hover .blog__info__item__body__leanrmore {
    color: #2e80ce;
}
.blog__info__img {
    width: 100%;
    height: 172px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}
.blog__info__item__body {
    padding: 18px 22px 22px 22px;
}
.blog__info__item__body__title {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #10375c;
}
.blog__info__item__body__desc {
    margin-top: 10px;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #575f66;
}
.blog__info__item__body__leanrmore {
    display: inline-block;
    margin-top: 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 18px;
    color: #10375c;
}
